global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093

rule_files:
  - "alert-rules.yml"

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "analyzercore"
    metrics_path: "/metrics"
    static_configs:
      - targets: ["host.docker.internal:5000"]
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        replacement: "analyzercore-api"
